@charset "utf-8";

* { box-sizing: border-box; }

/* Login block. */
.login_block
{
    margin: 40px auto;
    max-width: 300px;
    border: 1px solid black;
}

.login_block h1
{
    margin: 10px 0px 0px;
    font-family: 'Times New Roman';
    font-size: 20px;
    text-align: center;
}

/* Login block -> input field. */
.login_field_container
{
    margin: 0px auto;
    padding: 10px;
    max-width: 200px;
}

/* login block -> button */
#login_button_goBack, #login_button_submit
{
    display: block;
    margin: 10px auto 20px;
    width: 65px;
}

/* login block -> error message */

.login_text_errorMsg
{
    display: none;
    margin: 0px 10px 15px;
    padding: 5px 10px;
    border-left: 4px solid #7e0505;
    background-color: #d45f5f33;
    color: #9e0707;
    font-family: Arial;
    font-size: 12px;
}

